<?xml version="1.0" encoding="UTF-8"?>
 <!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns:shine="http://bow.com/schema/shine"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://bow.com/schema/shine  http://bow.com/schema/shine/shine.xsd">


    <bean id="defaultCalculator" class="com.bow.demo.integration.service.DefaultCalculator" />
    <shine:service id="calculatorService" interface="com.bow.demo.integration.api.Calculator" ref="defaultCalculator" group="vv" version="1.2.3" />

    <!--
    <bean id="hessianRegistryService" class="com.bow.registry.HessianRegistryService" />
    <shine:service  id="registryService" interface="com.bow.registry.RegistryService" ref="hessianRegistryService" />
    -->


 </beans>
